.u-section-1 .u-sheet-1 {
  min-height: 404px;
}

.u-section-1 .u-image-1 {
  width: 363px;
  height: 362px;
  animation-duration: 750ms;
  margin: 21px 79px 0 auto;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: -238px 544px 60px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 33px;
    margin-left: 62px;
    margin-right: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -317px;
    margin-right: 360px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -57px;
    margin-right: -20px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 339px;
    margin-top: 358px;
    margin-left: -26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -681px;
    margin-right: 69px;
    margin-left: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 496px;
}

.u-section-2 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 25px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 25px auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-2 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-gallery-1 {
    height: 919px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1752px;
  }

  .u-section-2 .u-gallery-1 {
    height: 689px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-2 .u-gallery-1 {
    height: 434px;
    margin-right: initial;
    margin-left: initial;
  }
}